<div class="row" *ngIf="baiviets$">
    <div class="col-md-3" *ngFor="let baiviet of baiviets$">
      <div class="card text-center">
        <div class="card-header">
          {{ baiviet.title }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ baiviet.content }}</p>
          <!-- <a [routerLink]="baiviet.slug" class="btn btn-primary">
            Xem {{ baiviet.title }}
          </a> -->
          <a [routerLink]="['chitietbaiviet',baiviet.slug]" class="btn btn-primary">
            Xem {{ baiviet.title }}
          </a>
        </div>
      </div>
    </div>
  </div>