<!-- <div class="card">
    <div class="card-header">
        You have selected <ng-container [ngTemplateOutlet]="demoTmpl"></ng-container>.
    </div>
    <div class="card-body">
        There are <ng-container [ngTemplateOutlet]="demoTmpl"></ng-container> was selected.
    </div>
    <div class="card-footer">
        You have selected <ng-container [ngTemplateOutlet]="demoTmpl"></ng-container>.
    </div>
</div> -->

<!-- <ng-template #demoTmpl>
    <span class="badge badge-primary">{{ demoValue }}</span> items
</ng-template> -->

<!-- pass template sang component khác -->
<!-- <app-child-template [demoTemp]="demoTmpl"></app-child-template> -->

<!--  ngTemplateOutlet, ngTemplateOutletContext-->
<ng-template #buttonTmpl
             let-abc="abc"
             let-className="className"
             let-icon="icon">
    <button [ngClass]="['btn', className ? className : '']">
        <i *ngIf="icon" class="fa {{icon}}"></i>{{ abc }}
    </button>
</ng-template>
<ng-container [ngTemplateOutlet]="buttonTmpl"
              [ngTemplateOutletContext]="{ abc: 'Click here', className: 'btn-primary', icon: null }">
</ng-container>
<ng-container [ngTemplateOutlet]="buttonTmpl"
              [ngTemplateOutletContext]="{ abc: 'Remove', className: 'btn-danger', icon: 'fa-remove' }">
</ng-container>

