<form [formGroup]="fgUser" (ngSubmit)="onSubmit()" class="row justify-content-md-center mt-3">
    <div class="col-md-8">
        <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label">Name:</label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="example-text-input" formControlName="name">
                <div class="col alert alert-danger" role="alert" *ngIf="fgUser.controls.name?.hasError('required')
                            && fgUser.controls.name?.touched">
                    Không được để trống
                </div>
            </div>
        </div>
        <fieldset formGroupName="social">
            <div class="form-group row">
                <label for="example-email-input" class="col-md-2 col-form-label">Email:</label>
                <div class="col-md-10">
                    <input class="form-control" type="email" id="example-email-input" formControlName="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-facebook-input" class="col-md-2 col-form-label">FB:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="example-facebook-input" formControlName="facebook">
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-md-10 offset-md-2">
                <button class="btn btn-primary" type="submit">Submit</button>
                <!--[disabled]="fgUser.invalid"-->
            </div>
        </div>
    </div>
</form>

<p>Form value:</p>
<pre>{{ fgUser.value | json }}</pre>

<p>name errors:</p>
<pre>{{ fgUser.controls.name?.errors | json }}</pre>


<input type="search" class="form-control" [formControl]="searchControl">