<app-reactive-form></app-reactive-form>
<!--<app-ng-content></app-ng-content> -->
<!-- <div [style.max-width.px]="500"> -->
    <!-- <app-form></app-form> -->
    <!-- <app-reactive-form></app-reactive-form> -->

    <!-- <app-demo-view-child></app-demo-view-child>
</div> -->

<router-outlet></router-outlet>