<div class="container">
    <div class="row">
        <h1>{{title}}</h1>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Tên sách</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col">Giá bán</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listBook">
                    <td>{{item.name}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.price|currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>