<form #form = "ngForm" (ngSubmit)="onSubmit(form.value)" class="row justify-content-md-center mt-3">
    <div class="col-md-8">
        <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label">Name:</label>
            <div class="col-md-10">
                <input class="form-control" required [(ngModel)]="user.name" name ="name" type="text" id="example-text-input">
                <div class="col alert alert-danger" role="alert" 
                *ngIf="form.controls.name?.errors?.required && form.controls.name?.touched">
                    Name is required!
                </div>
            </div>
        </div>
        <fieldset ngModelGroup="social">
            <div class="form-group row">
                <label for="example-email-input" class="col-md-2 col-form-label">Email:</label>
                <div class="col-md-10">
                    <input class="form-control" [(ngModel)]="user.email" name="email" type="email" id="example-email-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-facebook-input" class="col-md-2 col-form-label">FB:</label>
                <div class="col-md-10">
                    <input class="form-control" [(ngModel)]="user.facebook" name="facebook" type="text" id="example-facebook-input">
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-md-10 offset-md-2">
                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
            </div>
        </div>
    </div>
</form>

<p>Form value:</p>
<pre>{{ form.value | json }}</pre>

<p>name errors:</p>
<pre>{{ form.controls.name?.errors | json }}</pre>