<div class="container">
    <div class="row">
        <h1>Danh sách post</h1>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">UserID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Body</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listPost">
                    <td>{{item.userId}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.body}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>