<div [style.max-width.px]="300">
    <app-ng-content-child>
        <h1 class="title">title 1</h1>
        <p>text 1</p>
        <p title="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque veniam odit quos provident dolor, quasi beatae temporibus officia. Magnam incidunt dicta earum illum quas et voluptate, at ipsum adipisci!</p>
        <span title="demo">Attribute 1</span>
    </app-ng-content-child>

    
    <!-- <app-ng-content-child>
        <h1 class="title">title 2</h1>
        <p>text 2</p>
        <p title="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque veniam odit quos provident dolor, quasi beatae temporibus officia. Magnam incidunt dicta earum illum quas et voluptate, at ipsum adipisci!</p>
        <span title="demo">Attribute 2</span>
    </app-ng-content-child> -->
</div>

