<div class="container">
  <ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/">Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/admin']">Admin
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>